<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="influencers">
      <ion-icon name="people"></ion-icon>
      <ion-label translate>Influencers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notes">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label translate>Notes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label translate>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
